.index-selector-list-item{
    color:white;
    padding-right: 10px;
}

.index-selector-list-item-active{
    color:#E7473C;
    padding-right: 10px;
    transition: all 0.15s ease-in;
}

.index-selector-list-item:hover, .index-selector-list-item-active:hover{
    color:purple;
    padding-right: 10px;
    transition: all 0.10s ease-in;
}
