#game-data-container {
    display:grid;
    align-items: center;
    height:86vh;
    width:86vw;
    background-color: #e0e0e09c;
    border-radius: 12px;
    grid-template-columns: repeat(19, 1fr); /* Adjust the number of columns as necessary */
    grid-template-rows: repeat(30, 1fr);
    padding-left: 15px;
}

h2 {
    font-family: Roboto,sans-serif; 
    font-size: 3rem;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 12;
    text-align: center;
    width:100%;
}


p {
    text-align: center;
}

#developer-name{
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 12;
    padding-bottom: 10px;
}

#game-cover-art{
    height:100%;
    width: 100%;
    border-radius: 0px;
    box-shadow: 4px 2px 1px 1px rgba(124, 4, 139, 0.7);
    grid-row-start: 3;
    grid-row-end: 27;
    grid-column-start: 1;
    grid-column-end: 12;
    padding-left: 2px;
}

#rating-stars-container{
    width:70%;
    grid-row-start: 1;
    grid-column-start: 14;
    grid-column-end: 20;
}

#game-description{
    font-size: 1.1rem;
    padding-left: 25px;
    height:100%;
    width:95%;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 12;
    grid-column-end: 20;
    padding-bottom: 40px;
}

#release-date{
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    padding-left: 5px;
    grid-row-start: 2;
    grid-column-start: 12;
    grid-column-end: 20;
}

#game-genres-list{
    font-size: 1.1rem;
    padding-left: 10px;
    grid-row-start: 5;
    grid-column-start: 12;
    grid-column-end: 20;
}

#watch-trailer-a{
    width:100%;
    grid-row-start: 28;
    grid-column-start: 5;
    grid-column-end: 8;
    margin-left: 55px;
    margin-bottom: 5px;
    margin-top: 2px;
}

#review-tbd-text{
    padding-top: 20px;
    height:10%;
    padding-left: 13px;
    grid-row-start: 1;
    grid-column-start: 12;
    grid-column-end: 21;
}

#game-reviews-container{
    grid-row-start: 10;
    grid-row-end: 29;
    grid-column-start: 13;
    grid-column-end: 19;
}

#post-review-button{
    margin-top: 13px;
    grid-row-start: 28;
    grid-column-start: 10;
    grid-column-end: 19;
}