.game-review-container{
    display:flex;
    height: auto;
    width:100%;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    height:29%;
    background-color: white;
    border-bottom: solid black 1px;
}

.game-review{
    display:flex;
    flex-direction: column;
    align-items: start;
    width:70%;
    justify-content: space-around;
    margin-left: 25px;
    margin-right:10px;
}



#rating{
    margin-right: -20px;
    margin-top: 5px;
    height:100%;
    width:35%;
}

#header{
    height:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}

#review-tittle{
    width:55%;
    text-align: start;
    font-size: 1.1rem;
    font-weight: 500;
}

#review-text, #default-text{
    padding-left: 0.8px;
    text-align: start;
    margin-bottom: 10px;
    font-size: 0.91rem;
    height:90%;
    width:95%;
}

#reviewer-data{
    height:100%;
}