#game-card-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:380px;
    width:295px;
    text-align: center;
    color:black;
    font-size: 1.25rem;
}
#game-card-container:hover{
    color: purple;
}

#game-card-container:hover #game-card-picture{
    height:100%;
    width:100%;
    box-shadow: 4px 4px 2px 1px rgba(124, 4, 139, 0.8);
}
#game-card-picture {
    border-radius: 4px;
    height:90%;
    width: 95%;
    box-shadow: 4px 4px 2px 1px rgba(124, 4, 139, 0.3);
}

#tbd-text {
    font-size: 1.1rem;
    padding-top: 1px;
    padding-left: 7.75px;
    justify-self: center;
    align-self: center;
    text-align: center;
}