
#connect-overlay {

    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0; 
    left: 0; 
    height:100vh;
    width:100vw;
    background-color: rgba(0, 0, 0, 0.60);
    z-index: 10;

}

#connect-window {

    display:flex;
    justify-content: center;
    align-items: center;
    height:46%;
    width:25%;
    color:black;
    border-radius: 8px;
    background-color: white;
    outline: 1.5px ridge purple;
    border-radius: 1.5rem;
    
}